*{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 7fr 1fr;
    grid-template-columns: 1fr 7fr;
    grid-template-areas: 
    "a a"
    "b c"
    "d d";
}

.a{
    grid-area: a;
    background-color: darkseagreen;
    display: flex;
}

.title{
    height: 100%;
    width: 50%;
}

.btnGithub{
    text-decoration: none;
    border: 1px solid black;
    padding: 14px;
    background-color: gray;
    border-radius: 10px;
    margin-left: 15px;
    color: wheat;
}

.tables{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5%;
}

.btnTabele{
    text-decoration: none;
    border: 1px solid black;
    padding: 14px;
    background-color: gray;
    border-radius: 10px;
    color: wheat;
}

.b{
    grid-area: b;
    background-color: steelblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;

}

.c{
    grid-area: c;
    background-color: cornflowerblue;
}

.d{
    grid-area: d;
    background-color: springgreen;
}

.tekst{
    height: 4%;
    width: 75%;
}

.insert{
    height: 50%;
    width: 100%;
}

table{
    border: 1px solid black;
    background-color: white;
}

tr, td, th{
    border: 1px solid black;
    padding: 3px;
}